.productCard {
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
  position: relative;
}

.productMenuDropdown {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
}
